@import './variables';

html {
  background: #0e0e0e;
}

body {
  background-color: #ffffff;
  color: #e3e7e8;
  background-image: url('/static/img/piscina-black.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  &.is-white {
    background-image: none;
  }
}

button {
  background: #f1f1f1;
  border: 0;
  padding: 6px 10px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.36);

  &:hover {
    background: #d1d1d1;
  }
}

audio {
  outline: 0;
}


/**
* PARALLAX
*/
.parallax-container {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.parallax-element {
  position: absolute;
}



/**
* BACKGROUND
*/
.background {
  pointer-events: none;
  position: relative;
  top: -100px;
  left: -200px;
  width: calc(100vw + 400px);
  height: calc(100vh + 200px);
  background-image: url('/static/img/piscina-black.png');
  background-size: cover;
  background-position: 0 0;
}



/**
* CHART
*/
.chart {
  margin: 0 auto;
  min-width: 100px;
  min-height: 100px;
  margin-left: -200px;

  &__metawrap {
    display: none;
  }

  &__wrap {
    overflow: auto;

    &.is-zoomed .resetzoom {
      opacity: 1;
    }
  }

  &__ygroup {
    .year {
      stroke: #fff;
      stroke-width: 1px;
      fill: transparent;
      pointer-events: none;
      transition: r 1000ms 300ms ease-in-out, opacity 200ms ease;
      //animation: rotation 5s ease-out 500ms 1 forwards;
      stroke-dasharray: 6000px;
      stroke-dashoffset: 100%;
      opacity: 0.4;

      &__hover {
        stroke: transparent;
        stroke-width: 16px;
        fill: transparent;
        pointer-events: stroke;
        transition: r 1000ms 300ms ease-in-out;
      }

      &__title {
        display: none;
        fill: white;
        text-anchor: middle;
        font-size: 32px;
        font-family: 'dharma-gothic-m', 'webfontregular', Helvetica, Arial, sans-serif;
      }
    }

    .item {
      cursor: pointer;
      transition: opacity 200ms ease 100ms;

      &__dot {
        pointer-events: none;
        stroke: none;
        display: none;
      }

      &__doty {
        pointer-events: none;
        stroke: none;
      }

      &__circle {
        stroke: white;
        stroke-width: 1px;
        opacity: 0;
        fill: #050505;
      }

      &__line {
        stroke: white;
        display: none;
        fill: transparent;
      }

      &__text {
        fill: white;
        display: none;
        font-size: 18px;
      }

      &:hover {
        .item {
          &__line,
          &__text,
          &__dot {
            display: block;
          }
          &__doty {
            display: none;
          }
        }
      }

      &--text {
        .item {
          &__line,
          &__circle {
            stroke: #fdc12c;
          }
          &__doty {
            fill: #fdc12c;
          }
        }
      }

      &--photo,
      &--slider {
        .item {
          &__line,
          &__circle {
            stroke: #e73c5d;
          }
          &__doty {
            fill: #e73c5d;
          }
        }
      }

      &--shortaudio {
        .item {
          &__line,
          &__circle {
            stroke: #2abbb2;
          }
          &__doty {
            fill: #2abbb2;
          }
        }
      }

      &--pdf {
        .item {
          &__line,
          &__circle {
            stroke: #bc7871;
          }
          &__doty {
            fill: #bc7871;
          }
        }
      }

      &--poem {
        .item {
          &__line,
          &__circle {
            stroke: #d8643f;
          }
          &__doty {
            fill: #d8643f;
          }
        }
      }

      &--goodaudio {
        .item {
          &__line,
          &__circle {
            stroke: red;
          }
          &__doty {
            fill: red;
          }
        }
      }

      &--video {
        .item {
          &__line,
          &__circle {
            stroke: #916f8a;
          }
          &__doty {
            fill: #916f8a;
          }
        }
      }

    }

    &:hover {
      .year {
        opacity: 1;

        &__title {
          display: block;
        }
      }

      .item {
        &__dot {
          display: block;
        }
        &__doty {
          display: none;
        }

        &__circle {
          opacity: 1;
        }
      }
    }
  }

  .biggroup {
    rect {
      cursor: pointer;
      transition: opacity 200ms ease;
    }
    text {
      fill: white;
      font-size: 24px;
      cursor: pointer;
      transition: opacity 200ms ease;
    }
    &__item:hover {
      rect,
      text {
        opacity: 0.6;
      }
    }
  }

  .startyear {
    stroke: white;
    opacity: 0.4;
  }
}

@media screen and (min-width: 860px) {
  .chart {
    &__metawrap {
      display: block;
      pointer-events: all;
    }
    &__wrap {
      height: 100vh;
      overflow: hidden;
    }
  }
}


/**
* ANIMATIONS
*/
@keyframes rotation {
  0% {
    stroke-dasharray: 0;
    stroke-dashoffset: 100%;
  }

  100% {
    stroke-dasharray: 6000px;
    stroke-dashoffset: 0;
  }
}


