/**
* PAGES
*/
.page {
  padding: 20px;
  line-height: 1.5;

  &__wrap {
    max-width: 1180px;
    margin: 10px auto;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    a {}
    img {
      width: 20px;
      height: auto;
      padding: 20px;
    }
  }

  h1 {
    color: #fff;
    font-size: 44px;
  }

  p {
    color: #efefef;
  }

  ul {
    color: #efefef;
    margin-bottom: 24px;
    .role {
      display: block;
      font-size: smaller;
      font-style: italic;
    }
    .name {
      display: block;
    }
  }
  li {
    margin-bottom: 16px;
  }

  a {
    color: #ffffff;
    text-decoration: underline;
  }

  .links {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 700px) {
  .page {
    h1 {
      font-size: 60px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .page {
    h1 {
      font-size: 80px;
    }
  }
}