/**
* PAGES
*/
.page {
  padding: 20px;
  line-height: 1.5;

  &__wrap {
    max-width: 760px;
    margin: 10px auto;
    &--characters {
      max-width: 1320px;
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    a {}
    img {
      width: 20px;
      height: auto;
      padding: 20px;
    }
  }

  h1 {
    color: #fff;
    font-size: 44px;
  }

  p {
    color: #efefef;
  }

  ul {
    color: #efefef;
    margin-bottom: 24px;
  }
  li {
    margin-bottom: 16px;
  }

  a {
    color: #ffffff;
    text-decoration: underline;
  }

  .role {
    display: block;
    font-size: smaller;
  }
  .name {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
  }

  .links {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .logos {
    text-align: center;
    img {
      margin-left: 10px;
      margin-right: 10px;
      height: 40px;
      width: auto;
    }
  }
}

@media screen and (min-width: 700px) {
  .page {
    h1 {
      font-size: 60px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .page {
    h1 {
      font-size: 80px;
    }
  }
}