$BlizzardBlue: #9edcec;
$Tan: #cfb790;
$MetallicCopper: #7d4e47;
$Barossa: #463138;
$AppleBlossom: #a74c42;
$Martini: #ada098;
$SlateGrey: #6f7f90;
$Travertine: #ddd9c3;
$GovernorBay: #3e4a8e;
$Zombie: #ecd091;
